body {
    padding: 130px;
    font-family: sans-serif;
}

td {
    padding: 5px;
}

h1 {
    text-align: center;
    color: #685be0;
}

.coluna1 {
    background-color: #7c6fef;
}

.coluna2 {
    background-color: #5e50d8;
}

.coluna3 {
    background-color: #5d50d0;
}

.coluna4 {
    background-color: #7c6fef;
}

.coluna5 {
    background-color: #5e50d8
}