body {
    padding: 130px;
    font-family: sans-serif;
}

td{
    padding: 5px;
}

td:nth-child(odd) {
    background-color: #6356dc;
}
td:nth-child(even) {
    background-color: #8a7dfe;
}

h1 {
    text-align: center;
    color: #6356dc
}
